In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('clean_data_after_eda.csv')

In [ ]:
df.columns.tolist()

['id',
 'channel_sales',
 'cons_12m',
 'cons_gas_12m',
 'cons_last_month',
 'date_activ',
 'date_end',
 'date_modif_prod',
 'date_renewal',
 'forecast_cons_12m',
 'forecast_cons_year',
 'forecast_discount_energy',
 'forecast_meter_rent_12m',
 'forecast_price_energy_off_peak',
 'forecast_price_energy_peak',
 'forecast_price_pow_off_peak',
 'has_gas',
 'imp_cons',
 'margin_gross_pow_ele',
 'margin_net_pow_ele',
 'nb_prod_act',
 'net_margin',
 'num_years_antig',
 'origin_up',
 'pow_max',
 'var_year_price_off_peak_var',
 'var_year_price_peak_var',
 'var_year_price_mid_peak_var',
 'var_year_price_off_peak_fix',
 'var_year_price_peak_fix',
 'var_year_price_mid_peak_fix',
 'var_year_price_off_peak',
 'var_year_price_peak',
 'var_year_price_mid_peak',
 'var_6m_price_off_peak_var',
 'var_6m_price_peak_var',
 'var_6m_price_mid_peak_var',
 'var_6m_price_off_peak_fix',
 'var_6m_price_peak_fix',
 'var_6m_price_mid_peak_fix',
 'var_6m_price_off_peak',
 'var_6m_price_peak',
 'var_6m_price_mid_peak',
 'churn']

In [ ]:
df.shape

(14606, 44)

In [ ]:
# REMOVE UNNECESSARY COLUMNS
for col in df.columns:
    if df[col].nunique() == 1:
        df.drop(col, axis=1, inplace=True)

In [ ]:
# Convert date columns to datetime
df['date_activ'] = pd.to_datetime(df['date_activ'])
df['date_end'] = pd.to_datetime(df['date_end'])

In [ ]:
# Create new date features
df['activ_month'] = df['date_activ'].dt.month
df['active_weekday'] = df['date_activ'].dt.weekday
df['days_since_active'] = (pd.Timestamp.today() - df['date_activ']).dt.days
df['days_since_last_login'] = (pd.Timestamp.today() - df['date_end']).dt.days
df['account_duration'] = (df['date_end'] - df['date_activ']).dt.days

In [ ]:
# Average spend per session
if 'total_sessions' in df.columns and 'total_spend' in df.columns:
    df['avg_spend_per_session'] = df['total_spend'] / (df['total_sessions'] + 1)

In [ ]:
# Spend to purchase ratio
if 'total_spend' in df.columns and 'total_purchases' in df.columns:
    df['spend_per_purchase'] = df['total_spend'] / (df['total_purchases'] + 1)

In [ ]:
# Purchase frequency
if 'total_purchases' in df.columns and 'account_duration' in df.columns:
    df['purchase_frequency'] = df['total_purchases'] / (df['account_duration'] + 1)

In [ ]:
# New shape 
df.shape

(14606, 49)

In [ ]:
df.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,var_6m_price_mid_peak_fix,var_6m_price_off_peak,var_6m_price_peak,var_6m_price_mid_peak,churn,activ_month,active_weekday,days_since_active,days_since_last_login,account_duration
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,44.235794,2.086425,9.953056e+01,4.423670e+01,1,6,5,4330,3234,1096
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,0.000000,0.009485,1.217891e-03,0.000000e+00,0,8,4,5724,3158,2566
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,0.000000,0.000004,9.450150e-08,0.000000e+00,0,4,4,5486,3294,2192
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,0.000000,0.000003,0.000000e+00,0.000000e+00,0,3,1,5503,3311,2192
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,0.000000,0.000011,2.896760e-06,4.860000e-10,0,1,2,5579,3334,2245